cache
artifacts
/typechain
contracts/shared
packages/contracts/*
!packages/contracts/package.json
!packages/contracts/build.sh
packages/typechain/*
!packages/typechain/package.json
!packages/typechain/build.sh
!packages/typechain/tsconfig.build.json